

        <h1 class="my-4">Kategoriler</h1>
        <div class="list-group">
            <a href="/Moda" class="list-group-item">Moda</a>
            <a href="/Teknoloji" class="list-group-item">Teknoloji</a>
            <a href="/Kitap-DVD" class="list-group-item">Kitap&DVD</a>
        </div>
