

        <h1 class="my-4">Kategoriler</h1>
        <div class="list-group">
            <a href="/Dini" class="list-group-item">Dini</a>
            <a href="/Mesleki" class="list-group-item">Mesleki</a>
            <a href="/KişiselGelişim" class="list-group-item">Kişisel Gelişim</a>
        </div>
