<div class="header">
    <div class="navbar">
        <ul>
            <li><a href="/">Anasayfa</a></li>
            <li><a href="/Home/Hakkimizda">Hakkımızda</a></li>
            <li><a href="/Home/Iletisim">İletişim</a></li>
        </ul>
    </div>
</div>

